<div class="row dd-holder">
    <div class=" row col-md-3">
        <select ng-model="season" ng-options="product as product.Name for product in seasons | orderBy:['-Priority']" class="form-control" ng-change="getStandings()"></select>
    </div>
</div>

<div class="">
    <div class="applewrap">
        <div id="table-head">
            ליגת האריה האדום {{season.Name}}
        </div>
        <div ng-if="season.HasTable==1">
            <table class="table dark table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>קבוצה</th>
                        <th>מש</th>
                        <th>נצ</th>
                        <th>תק</th>
                        <th>הפ</th>
                        <th class="hidden-xs">שז</th>
                        <th class="hidden-xs">שח</th>
                        <th>הפרש</th>
                        <th>נק</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <tr ng-repeat="item in items | orderBy:['-Points','-GoalsDifference','-GoalsFor']">
                        <td>{{$index+1}}</td>
                        <td><a ng-click="go('main.team',{Id:item.Id})">{{item.Name}}</a></td>
                        <td>{{item.Games}}</td>
                        <td>{{item.Wins}}</td>
                        <td>{{item.Draws}}</td>
                        <td>{{item.Losses}}</td>
                        <td class="hidden-xs">{{item.GoalsFor}}</td>
                        <td class="hidden-xs">{{item.GoalsAgainst}}</td>
                        <td style="direction:ltr;text-align: right;">{{item.GoalsDifference}}</td>
                        <td>{{item.Points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="season.HasTable==0">
            אין טבלה בטורניר גביע
        </div>

    </div>
</div>
