<li data-content="inbox" class="selected">
    <h2>חוקי משחק</h2>
    <p>כדורי חוץ (הכדור עבר במלוא היקפו את קו תחומי המגרש)</p>
    <ul>
        <li>כדור חוץ - שתי הרגליים חייבות לגעת בדשא בעת הוצאת החוץ ולא לעבור את קו האורך. הכדור מוחזק בשתי הידיים0. ידיים מאחורי הראש זורקות את הכדור קדימה. במקרה ועוברים על כללים אלה כדור החוץ עובר לקבוצה היריבה.</li>
        <li>כדור 5 - הבעיטה מתבצעת על ידי שחקן מהקבוצה זכתה בכדור שוער. הבעיטה תבוצע מקצה רחבה "החמש", והכדור חייב לצאת מרחבת העונשין (רחבת ה-16) לפני ששחקן אחר רשאי לגעת בו. במקרה של עבירה על חוקים אלו תנתן בעיטה חופשית בלתי ישירה מקצה הרחבה לקבוצה היריבה.</li>
        <li>כדור קרן - הבעיטה תבוצע על ידי הקבוצה היריבה מפינת המגרש הקרובה ביותר למקום יציאת הכדור מתחומי המגרש, על הכדור להישאר במרחק של 30 סנטימטר מפינת הקרן.</li>
        <li>התקפה אחרונה - בסיום הזמן של המשחק תוכרז התקפה אחרונה, התקפה אחרונה היא עד אשר הכדור יוצא לחוץ (חוץ רגיל, כדור שוער). במקרה של עבירה או קרן המשחק ימשך.</li>
    </ul>
    <p>עבירות</p>
    <ul>
        <li>בעיטה חופשית ישירה - הבעיטה יכולה להתבצע ישירות אל עבר השער, וניתן להבקיע בה שער.</li>
        <li>בעיטה חופשית בלתי ישירה - לא ניתן בבעיטה חופשית בלתי ישירה להבקיע שער ישירות, אלא רק לאחר שהכדור נוגע בשחקן אחר. אם בעיטה חופשית בלתי ישירה נבעטת ישירות אל תוך שער היריבה, לא נפסק שער אלא נפסקת בעיטת שוער לטובת היריבה. כמו בבעיטה חופשית ישירה, אם בעיטה חופשית בלתי ישירה נבעטת ישירות אל תוך שער הקבוצה שלזכותה נפסקה הבעיטה, היריבה זוכה בבעיטת קרן.</li>
        <li>
            בעיטה בלתי ישירה תנתן במקרים הבאים:
            <ul>
                <li>במקרה של נגיעת יד מחוץ לרחבת היריב</li>
                <li>עבירת משחק מסוכן</li>
                <li>מניעת הוצאת כדור בידים משוער.</li>
                <li>מניעת התקדמות יריב (חסימה)</li>
            </ul>
        </li>
        <li>
            אם שוער עובר אחת מהעבירות הבאות בתוך רחבת העונשין שלו, הקבוצה היריבה זוכה בבעיטה חופשית בלתי ישירה:
            <ul>
                <li>אוחז את הכדור בידיו למעלה משש שניות לפני שמשחרר אותו.&rlm;</li>
                <li>נוגע בכדור בידיו בשנית לאחר ששחרר אותו משליטתו ולפני שהכדור נגע בשחקן אחר.</li>
                <li>נוגע בכדור בידיו לאחר שנמסר לו במכוון על ידי חבר לקבוצה.</li>
                <li>נוגע בידיו בכדור לאחר שקיבל אותו ישירות מזריקת חוץ על ידי חבר לקבוצה.</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>כל נגיעת יד היא עבירה (אין כדור ירוי)</li>
    </ul>
</li>