<li data-content="inbox" class="selected">
    <h2>מועדי המשחקים</h2>
    <ul>
        <li>על כל קבוצה להתייצב עם לפחות שמונה שחקנים לכל משחק ביום ובשעה שנקבעו. מועד משחק יקבע לפחות שבוע לפני המשחק.</li>
        <li>לכל קבוצה תנתן הזדמנות לדחות משחק אחד בסיבוב אם אין באפשרותה להעמיד קבוצה במועד הקבוע מראש. בקשת הדחייה חייבת להתבצע לפחות שבוע לפני מועד המשחק אחרת ראשי הליגה רשאית להעמיד קבוצה משחקנים על פי שיקולה ואף להעניש בהפסד טכני. במקרה של דחיה הקבוצה אשר דחתה את המשחק תקנס במאה שקל (במקרה והדחיה היא הדדית הקנס יחולק בין שתי הקבוצות)</li>
        <li>במקרה ומשחק מפוצץ (לפחות אחת הקבוצות מפסיקות להשתתף במשחק) שתי הקבוצות לא יקבלו נקודות (הנושא יועמד לבירור והעונש יותאם על פי שיקול דעת ראשי הליגה) הקבוצות יקנסו כל אחת בסכום של מאה שקל.</li>
        <li>זמן משחק הוא 50 דקות, 25 דקות למחצית. במקרה מדובר בשעה האחרונה של המגרש והדבר אינו פוגע בלוח הזמנים של המגרש בשום אופן, ניתן להאריך ל60 דקות את המשחק, 30 דקות לכל מחצית בהסכמת שני הקפטנים של הקבוצות המשתתפות במשחק לפני תחילת המשחק בלבד, לא ניתן לשנות את זמן המשחק במהלך המשחק עצמו.</li>
        <li>במקרה של איחור תחילת המשחק באשמת הקבוצות יקצר את זמן המשחק, מועד המשחק שאחריו לא יוזז ויתחיל בשעה שנקבעה מראש (פקקים וכו').</li>
        <li>במקרה ויש איחור שלא באשמת הקבוצות יש לבקש אישור בקבוצת הוואטס-אפ של הקפטנים, אישור סופי ינתן על ידי עודד או שלמה. (איחור שלא באשמת הקבוצות יקבע גם רק על ידי עודד או שלמה)</li>
        <li>במחצית חייבות הקבוצות להחליף צדדים. זמן הפסקת המחצית היא לכל היותר 5 דקות.</li>
        <li>כשלי מגרש - במקרה והמגרש אינו כשיר למשחק (בעיות בדשא, תאורה וכו יקבע על ידי עודד או נציג מטעמו.')</li>
        <li>מזג אוויר - במקרה ותנאי מזג האוויר קשים מידי עבור משחק יביא לדחיית המשחק. יקבע על ידי עודד או נציג מטעמו, בדרך כלל ביום המשחק שמוך לשעת המשחק.</li>
    </ul>
</li>