<li data-content="inbox" class="selected">
    <h2> מבנה הליגה והקבוצות</h2>
    <ul>
        <li>הליגה תורכב מעשר קבוצות כאשר כל הקבוצות ישחקו אחת נגד השניה פעמיים (שני סיבובים). ניצחון יזכה קבוצה ב-3 נקודות, תיקו ב-1 נקודות והפסד ב-0 נקודות. במקרה ושויוון נקודות הקבוצה בעלת הפרש השערים הגבוה יותר תועדף.</li>
        <li>כל קבוצה תגיש סגל של לפחות עשרה שחקנים וחמישה-עשר לכל היותר בהרשמה, בכל משחק תעמיד לפחות שישה שחקנים מסגל זה אחרת תיפסל ותוענש בהפסד טכני (יש אפשרות לחריגה באישור ראשי הליגה)</li>
        <li>צירוף שחקנים במהלך העונה - ניתן לצרף עד שלושה שחקנים במהלך העונה הסדירה באישור ראשי הליגה.</li>
        <li>מעבר שחקנים בין קבוצות - שחקן יוכל לעבור פעם אחת במהלך העונה בין שתי קבוצות. כלומר, אם שחקן עבר מקבוצה אחת לשניה כבר לא יוכל לעבור לקבוצה שלישית. מעבר יתבצע רק באישור ראשי הליגה.</li>
        <li>שיתוף שחקנים בין קבוצות - שיתוף שחקנים בין קבוצות יתבצע אך ורק כדי להשלים מקרים של חוסר בשחקנים ולא כדי לחזק סגל. ראשי הליגה יעקבו אחר שיתוף שחקנים ויכולים לפסול שיתוף במקרה ויש ניצול לרעה של אפשרות זו.</li>
        <li>לכל קבוצה יתואם צבע במקרים של צבעים דומים, הקבוצה המתארחת תגיע בחולצות לבנות או שחורות, בהתאם לאופי צבע הקבוצה המארחת. הדבר יתואם שבוע מראש על ידי ראשי הליגה</li>
    </ul>
</li>