
<div class="page-header">
    <h3> שינוי שם קבוצה</h3>
</div>
<div class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-md-6">
                    <label>קוד קבוצה</label>
                    <div class=" row form-group">
                        <input class="form-control" type="text" ng-model="team.Name" id="team">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>קבוצה</label>
                    <div class=" row form-group">
                        <select ng-model="teamCode.TeamId" ng-options="team.Id as team.Name for team in teams" class="form-control" ng-change=""></select>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" ng-click="editTeam()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>