<div class="col-md-6">
    <div class="page-header">
        <h3>הוספת שחקן</h3>
    </div>
    <div class="row">
        <form name="form" class="form-horizontal">
            <div class="col-lg-6">
                <div class="form-group" ng-class="{error: form.Player.$invalid}">
                    <label class="" for="player">שם</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="player.Name" id="player">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label class="" for="player">דואר אלקטרוני</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="player.Email">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label class="" for="player">טלפון</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="player.Phone">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                    <label class="" for="player">קבוצה</label>
                    <select ng-model="player.TeamId" ng-options="team.Id as team.Name for team in teams" class="form-control"></select>
                    <label class="" for="position">עמדה</label>
                    <select ng-model="player.PositionId" ng-options="position.Id as position.Name for position in positions" class="form-control"></select>

                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" ng-click="save()">
                        הוספה
                    </button>
                    <a href="#/" class="btn">ביטול</a>
                </div>
            </div>
        </form>
    </div>
    <div class="added">
        נוסף בהתלחה
    </div>
    <div class="deleted">
        נמחק בהתלחה
    </div>
</div>

<div class="col-md-6">
    <h2>טבלה</h2>
    <table class="overflow-table table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>שם</th>
                <th>שערים</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | orderBy:'-Goals'" id="item_{{item.Id}}">
                <td>{{item.Id}}</td>
                <td><a href="#/main/player/{{item.Id}}">{{item.Name}}</a></td>
                <td>{{item.Goals}}</td>
                <td>
                    <a class="btn btn-danger btn-flat" ng-click="delete()">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
