<div class="col-md-6">

    <div class="page-header">
        <h3>הוספת קבוצה</h3>
    </div>
    <div class="row">
        <form name="form">
            <!--<div class="col-md-6">
                    <label class="" for="team">שם</label>
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="team.Name" id="team">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
            </div>-->
            <div class="col-md-6">
                <label>שם</label>
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="team.Name" id="team">
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="save()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="page-header">
        <h3>הוספת קוד קבוצה</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>קוד קבוצה</label>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="teamCode.Code" id="team">
            </div>
        </div>
        <div class="col-md-6">
            <label>קבוצה</label>
            <div class="form-group">
                <select ng-model="teamCode.TeamId" ng-options="team.Id as team.Name for team in teams" class="form-control" ng-change=""></select>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="addTeamCode()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div class="page-header">
        <h3> שינוי שם קבוצה</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>שם קבוצה</label>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="team.Name" id="team">
            </div>
        </div>
        <div class="col-md-6">
            <label>קבוצה</label>
            <div class="form-group">
                <select ng-model="team.Id" ng-options="team.Id as team.Name for team in teams" class="form-control" ng-change=""></select>
            </div>
        </div>

        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="editTeam()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="page-header">
        <h3>הוספת קבוצה</h3>
    </div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>שם</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in teams" id="item_{{item.Id}}">
                <td>{{item.Id}}</td>
                <td><a href="#/main/player/{{item.Id}}">{{item.Name}}</a></td>
                <td>
                    <a class="btn btn-danger btn-flat" id="add-fixture" ng-click="deleteTeam()">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>